<template>
      <component :is="currentModalView" ref="modal"></component>
</template>

<script lang="ts">
      var defaultTemplate = {
            template:"<span></span>"
      };


      import Vue from "vue"
      import Component from "vue-class-component"
      @Component({
            components: {

            }
      })
	export default class DynamicModalComponent extends Vue {
            public modal:any = null;
            private modalList:Map<any,any>;
            private isLoading:boolean=false;

            public currentModalView:any = defaultTemplate;


            constructor(){
                  super();
            }

		mounted(){
		      this.modalList = new Map();
		      this.modal = this.$refs.modal;
            }

            updated() {

            }

            destroyed() {

            }



            // 모달 열기
            public loadModal(componentName:string, fileName:string){
                  var promise = new Promise((resolve, reject)=> {
                        if (this.isLoading == false) {
                              /*
                                    //1. 이미 로딩되어 있는 모달인지 확인하기
                                    // if (this.modalList.has(componentName) == true) {
                                    
                                    [RNB-105] 해당 건의 경우, 모달을 재사용 할 경우 발생 되는것으로 확인 됩니다. 
                                    이에, 명확한 원인이 판단되기 전까지는 모달을 재사용하지 않고
                                    VueLoader를 통하여 새로 오픈 하도록 임시적으로 수정 합니다. 
                              */
                              if (false) {
                                    // 1.1 로딩이 되어 있는 모달인 경우 재 사용하기
                                    this.currentModalView = this.modalList.get(componentName);
                                    // 1.2 1.1에서 변경 후 바로 접근하면 undefined 또는 기존 모달 정보를 사용하게 됨
                                    // setTimeout을 활용해 delay를 줘야 함.

                                    // 현재 모달 하위 컴포넌트들의 렌더링이 보장되는 함수에서 resolve 처리하도록 수정.
                                    this.$nextTick(function(){
                                          resolve({
                                                type:"ok",
                                                modal:this.$refs.modal
                                          });
                                    })
                              } else {
                                    ////////////////////////
                                    //2. 신규 팝업을 로드하기
                                    this.isLoading = true;
                                    var loader = null;

                                    try {
                                          loader = window.wemb.$httpVueLoader(fileName, null);
                                    }catch(error){

                                          reject({
                                                type:"error",
                                                error:error
                                          });
                                          return;
                                    }
                                    loader().then((result) => {
                                          // 2.1 로드한 내용을 모달 리스트에 추가
                                          this.modalList.set(componentName, result);
                                          // 2.2 로딩이 되어 있는 모달인 경우 재 사용하기
                                          this.currentModalView = result;
                                          this.isLoading = false;
                                          // 2.3 1.1에서 변경 후 바로 접근하면 undefined 또는 기존 모달 정보를 사용하게 됨
                                          // setTimeout을 활용해 delay를 줘야 함.

                                          // 현재 모달 하위 컴포넌트들의 렌더링이 보장되는 함수에서 resolve 처리하도록 수정.
                                          this.$nextTick(function(){
                                                resolve({
                                                      type: "ok",
                                                      modal: this.$refs.modal
                                                });
                                          })
                                    }).catch ((error)=>{
                                          console.log("DynamicModalComponent loading error ", error);
                                          reject({
                                                type:"error",
                                                error:error
                                          });
                                    })
                              }
                        } else {
                              resolve({
                                    type:"loading"
                              });
                        }
                  });
                  return promise;
            }
	}
</script>

<style scoped>
      .item {
            cursor: pointer;
            user-select: none;
      }

      li {
            color:#000000;
      }

      li.selected {
            color:#ff0000;
      }

      .bold {
            font-weight: bold;
      }

      ul {
            padding-left: 1em;
            line-height: 1.5em;
            list-style-type: dot;
      }


</style>
