<template>
    <div class="selectable-page-tree-item">
        <div class="label">
            <el-radio :disabled="data.disabled" v-if="data.type == 'page' || selectType == 'all'"
                v-model="radio.value" class="label" 
                style="width:100%;" 
                :label="data.id" 
                :class="[data.type != 'page' ? 'group-item' : 'page-item']"
                :key="data.id" border>
                <i :class="[ 
                      {'fa fa-file-o':   data.type == 'page'}, 
                      {'fa fa-medium':   data.type == 'master'},
                      {'fa fa-folder-o': data.type == 'root' || data.type == 'group'} 
                    ]"
                    aria-hidden="true">
                </i>                
                <span class="txt ellipsis">{{data.text}}</span>
                <el-badge :value="data.badge"></el-badge>
            </el-radio>
            <div v-else class="label group-item" style="width:100%;" :label="data.text " :key="data.id" border>
                <i :class="[ 
                      {'fa fa-file-o':   data.type == 'page'}, 
                      {'fa fa-medium':   data.type == 'master'},
                      {'fa fa-folder-o': data.type == 'root' || data.type == 'group'} 
                    ]"
                    aria-hidden="true">
                </i>
                <span class="txt ellipsis">{{data.text}}</span>
            </div>
        </div>
        <selectable-page-tree-radio-item-component
            v-if="data.children"
            v-for="item in data.children"
            :key="item.id"
            :data="item"
            :radio="radio"
            :selectType="selectType"
        ></selectable-page-tree-radio-item-component>
    </div>
</template>
<script lang="ts">
    import { Vue, Component, Prop, Watch } from 'vue-property-decorator';
    
    @Component({        
    })
    export default class SelectablePageTreeRadioItemComponent extends Vue {
        @Prop({default: { text: '',
                        children: [],
                        id: '',
                        type: '',
                        checked: false,
                        badge:'',
                        parentsStr: '',
                        disabled: false  }         
        }) data!:any;

        @Prop({default: 'all' }) selectType: string;

        @Prop({default: { value:''  }         
        }) radio!:any;
    
    }
</script>