<template>
    <div class="selectable-page-tree-item">
        <div class="label">
            <el-checkbox @change="changeChecked" :disabled="data.disabled" v-if="data.type == 'page' || selectType == 'all'"
                v-model="data.checked" class="label"
                style="width:100%;"
                :class="[data.type != 'page' ? 'group-item' : 'page-item']"
                :label="data.text " :key="data.id" border>
                <i :class="[ 
                      {'fa fa-file-o':   data.type == 'page'}, 
                      {'fa fa-medium':   data.type == 'master'},
                      {'fa fa-folder-o': data.type == 'root' || data.type == 'group'} 
                    ]"
                    aria-hidden="true">
                </i>
                  <div class="page-text-box">
                        <div class="txt ellipsis">{{data.text}}</div>
                        <div class="page-description txt ellipsis">{{data.description}}</div>
                  </div>
                <el-badge :value="data.badge"></el-badge>
            </el-checkbox>
            <div v-else class="label group-item readonly" style="width:100%;"
                :label="data.text "
                :key="data.id" border
                @click="onClickGroupItem">
                <i :class="[ 
                      {'fa fa-file-o':   data.type == 'page'}, 
                      {'fa fa-medium':   data.type == 'master'},
                      {'fa fa-folder-o': data.type == 'root' || data.type == 'group'} 
                    ]"
                    aria-hidden="true">
                </i>
                <span class="txt ellipsis">{{data.text}}</span>
            </div>
         </div>
        <selectable-page-tree-checkbox-item-component v-if="data.children"
            v-for="item in data.children"
            :key="item.id"
            :data="item"
            :selectType="selectType"
            ref="childTree"
            @change="changeChecked"></selectable-page-tree-checkbox-item-component>
    </div>
</template>
<script lang="ts">
    import { Vue, Component, Prop, Watch } from 'vue-property-decorator';

    @Component({
    })
    export default class SelectablePageTreeCheckboxItemComponent extends Vue {
        @Prop({default: { text: '',
                        children: [],
                        id: '',
                        type: '',
                        checked: false,
                        badge:'',
                        parentsStr: '',
                        disabled: false  }
        }) data!:any;

        @Prop({default: 'all' }) selectType: string; //all, page

        public changeChecked () {
            this.$emit("change");
        }

        public checked(bool){
            if( this.selectType == "all" || this.data.type == "page"){
                this.data.checked = bool;
            }

            if( this.selectType == "page" && ( this.data.type == "group" || this.data.type == "root" )  && this.$refs.childTree){
                this.$refs.childTree.forEach((treeItem)=>{
                    treeItem.checked(bool);
                })
            }
        }

        public onClickGroupItem(){
            if( this.$refs.childTree ){
                let isChecked = false;
                this.$refs.childTree.forEach((treeItem)=>{
                    if( treeItem.data.checked ){
                        isChecked = true;
                        return;
                    }
                })

               this.checked(!isChecked);
               this.$emit("change");
            }
        }
    }
</script>
