<template>
    <div data-name="selectable-pagetree">
       <div class="content-area" >
                <div class="page-list-wrap">
                    <div class="d-flex align-items-center">
                            <el-checkbox v-show="useMultiSelect" style="margin-right: 14px;"
                                        v-model="checkAll" @change="handleCheckAllChange">All
                            </el-checkbox>
                            <el-input class="search-field" size="small" v-model="searchStr"
                                    placeholder="Please input Page name" :clearable="true">
                                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                            </el-input>
                    </div>
                    <div class="d-flex flex">
                            <div class="page-list flex-scroll" v-show="!searchMode">
                                     <template v-if="useMultiSelect">
                                            <selectable-page-tree-checkbox-item-component v-for="item in pageTreeData"
                                            :data="item"
                                            @change="changePageChecked"
                                            :selectType="selectType"></selectable-page-tree-checkbox-item-component>
                                    </template>
                                    <template v-else>
                                            <selectable-page-tree-radio-item-component v-for="item in pageTreeData"
                                            :data="item" :radio="radio"
                                            :selectType="selectType"></selectable-page-tree-radio-item-component>
                                    </template>

                            </div>
                            <div class="page-list page-search-list flex-scroll" v-show="searchMode">
                                <div class="selectable-page-tree-item flat"
                                        v-if="resultList.length>0"
                                        v-for="item in resultList"
                                        :key="item.id"
                                        :class="[item.type != 'page' ? 'group' : 'page']"
                                >
                                        <div class="label" v-if="item.type == 'page'">
                                            <el-checkbox @change="changePageChecked"
                                                            v-model="item.checked" class="label"
                                                            style="width:100%;" :label="item.text "
                                                            :key="item.id"
                                                            :disabled="item.disabled"
                                                            border>
                                                    <div class="flex" style="white-space: nowrap;">
                                                        <div class="d-flex">
                                                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                                                <div class="txt ellipsis">{{item.text}}
                                                                </div>
                                                                <span class="search-children-len"
                                                                    v-if="item.type != 'page' && item.childrenFlat.length">
                                        (+{{item.childrenFlat.length}})
                                    </span>
                                                        </div>
                                                        <div class="parents-txt" v-if="item.parentsStr">
                                                                {{item.parentsStr}}
                                                        </div>
                                                    </div>
                                                    <el-badge :value="item.badge"></el-badge>
                                            </el-checkbox>
                                        </div>
                                </div>
                                <div v-if="resultList.length==0"
                                        style="margin: 10px 5px; color: #555;text-align: center;">
                                        NO DATA
                                </div>
                            </div>
                    </div>
                </div>

        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import {Prop, Watch, Component} from "vue-property-decorator";
import SelectablePageTreeCheckboxItemComponent from "./SelectablePageTreeCheckboxItemComponent";
import SelectablePageTreeRadioItemComponent from "./SelectablePageTreeRadioItemComponent";

@Component({
    components: {
        SelectablePageTreeCheckboxItemComponent,
        SelectablePageTreeRadioItemComponent
    }
})
export default class SelectablePageTreeComponent extends Vue{
/**
 * 메뉴셋, 페이지셋, 페이지 컴포넌트, 롤링컴포넌트 등 유사한 페이지 트리 UI를 반복해서 사용하여, 이를 공통 vue 컴포넌트로 작성하여 main.ts에서 global에 등록함
 * prop으로 옵션처리 하려했으니 동적로드하는 컴포넌트에서 테스트시 이가 반영되지 않아..(ts에서는 정상동작)
 * init메소드에서 옵션처리할수 있도록 함
 * ex) this.$refs.treeComp.init({
            useMultiSelect: true,//멀티 셀렉트 여부
            selectType: "page",//page만 선택할것인지 폴더까지 선택하게 할것인지 page/all
            treeData: wemb.pageTreeDataManager.treeData//구성할 treeData
    });

    그밖에 disabled enabled, select, deselect, badge 처리를 메소드를 통해 처리할 수 있게 제공함
 *
*/

    /*이유는 알 수 없으나 동적로드 하는 부분에서 prop이 적용되지 않아 아래 코드 두줄을 삭제함*/
    /*@Prop({default: true}) useMultiSelect!: boolean;
    @Prop({default: 'all' }) selectType: string;    */
    public useMultiSelect:boolean = true;
    public selectType:string = 'all';

   public pageTreeData:Array<any> = [];
   public flatPageTreeData:Array<any> = [];
   public checkAll: boolean = false;
   public resultList: Array<any> = [];
   public searchStr:string = '';
   public pageRootId: string = "wv_root";
   public radio:any = {value: ''}

    @Watch('searchStr', {immediate: true, deep: true})
    onChangeSearchStrChanged(newStr: string, oldVal: string) {
        this.checkAllAct(false);
        this.resultList.splice(0, this.resultList.length);
        if (this.searchMode) {
                var self = this;
                this.resultList = this.resultList.concat(this.flatPageTreeData.filter(
                    function (x) {
                            return x.text.toLowerCase().indexOf(self.searchStr.toLowerCase()) != -1
                    }));
        } else {
                this.resultList = this.resultList.concat(this.flatPageTreeData);
        }
    }

    disableItem(itemId){
        let findTree = this.flatPageTreeData.find(x=>x.id == itemId);
        if(findTree){
            findTree.disabled = true;
            if(!this.useMultiSelect){
                if( this.radio.value == itemId){
                    this.radio.value = '';
                }
            }else{
                findTree.checked = false;
                this.changePageChecked();
            }
        }
    }

    disableItems(itemIds){
        if( itemIds ){
            itemIds.forEach((id)=>{
                this.disableItem(id);
            })
        }else{
            let list = (this.selectType == "page") ? this.flatPageTreeData.filter(x=>x.type == "page") : this.flatPageTreeData;
            return list.filter(x=>x.disabled);
        }
    }

    enableItem(itemId){
        let findTree = this.flatPageTreeData.find(x=>x.id == itemId);
        if(findTree){
            findTree.disabled = false;
            this.changePageChecked();
        }
    }

    enableItems(itemIds){
        if(itemIds){
            itemIds.forEach((id)=>{
                this.enableItem(id);
            })
        }else{
            let list = (this.selectType == "page") ? this.flatPageTreeData.filter(x=>x.type == "page") : this.flatPageTreeData;
            return list.filter(x=>!x.disabled);
        }
    }

    setBadge(itemId, value){
        let findTree = this.flatPageTreeData.find(x=>x.id == itemId);
        if(findTree){
            findTree.badge = value;
        }
    }


    get searchMode():boolean {
        if (this.searchStr.length) {
                return true;
        } else {
                return false;
        }
    }

    mounted(){}

   setPageTreeData(treeData) {
        this.flatPageTreeData = [];
        var flatData = $.extend(true, [], treeData);

        flatData = flatData.map((x)=>{
                return {
                        'text': x.text,
                        'id': x.id,
                        'type': x.type,
                        'checked': false,
                        'badge':'',
                        'parentsStr': '',
                        'parent': x.parent,
                        'disabled': false,
                        'description': x.description
                }
        });

        var rootData = flatData.find(function (x) {
                if (x.parent == '#') return x
        });
        var ary = [];
        if (rootData) {
                rootData.checked = false;
                rootData.parentsStr = "";

                ary.push(rootData);
                this.flatPageTreeData.push(rootData);
                rootData.children = this.__getChildrenData(rootData, flatData);
                rootData.childrenFlat = this.__getChildrenFlatData(rootData.id, flatData);
        }

        this.pageTreeData = ary;
        this.resultList.splice(0, this.resultList.length);
        this.resultList = this.resultList.concat(this.flatPageTreeData);
    }

    __getChildrenData(parentData, data) {
        var parentID = parentData.id;
        var ary = [];
        var filterData = data.filter(function (x) {
                return x.parent == parentID
        });
        for (var i = 0, len = filterData.length; i < len; i++) {
                var child = filterData[i];
                child.checked = false;
                child.disabled = false;
                child.badge = '';

                if (!parentData.parentsStr) {
                    child.parentsStr = "";
                } else {
                    child.parentsStr = parentData.parentsStr + " > ";
                }

                child.parentsStr += parentData.text;

                this.flatPageTreeData.push(child);
                if (child.type == "group") {
                    child.children = this.__getChildrenData(child, data);
                    child.childrenFlat = this.__getChildrenFlatData(child.id, data);
                }
                ary.push(child);
        }
        return ary;
    }

    __getChildrenFlatData(parentID, data) {
        var ary = [];
        var filterData = data.filter(function (x) {
                x.parent == parentID
        });
        for (var i = 0, len = filterData.length; i < len; i++) {
                var child = filterData[i];
                ary.push(child);

                if (child.type == "group") {
                    ary.push(this.__getChildrenFlatData(child.id, data));
                }
        }

        return ary;
    }

    changePageChecked() {
        let totalCount = this.getCurrentEnabledItems().length;
        let checkedLen = this.getCurrentCheckedItems().length;
        if( totalCount != 0 && totalCount ==  checkedLen){
             this.checkAll = true;
        }else{
            this.checkAll = false;
        }
    }


    getCurrentEnabledItems(){
        if( this.selectType == "all" ){
            return this.resultList.filter(x=>!x.disabled);
        }else{
            //page
            return this.resultList.filter(x=>x.type == "page" && !x.disabled);
        }
    }

    getCurrentCheckedItems(){
        if( this.selectType == "all" ){
            return this.resultList.filter(x=>x.checked && !x.disabled);
        }else{
            //page
            return this.resultList.filter(x=>x.checked && x.type == "page" && !x.disabled);
        }
    }

    checkAllAct(bool) {
        this.checkAll = bool;
        let list = this.getCurrentEnabledItems();
        list.forEach((item)=>{
            item.checked = bool;
        })
    }

    init(data){
        this.pageTreeData = [];
        this.flatPageTreeData=[];
        this.checkAll = false;
        this.resultList = [];
        this.searchStr = '';

        this.useMultiSelect = data.useMultiSelect;
        this.selectType = data.selectType;
        if(data.treeData){
            this.setPageTreeData(data.treeData);
        }
    }


    handleCheckAllChange(val) {
        this.checkAllAct(val);
    }


    selectItem(id) {
        let list = (this.selectType == "page") ? this.flatPageTreeData.filter(x=>x.type == "page") : this.flatPageTreeData;
        if(id){
            if( this.useMultiSelect ){
                let findItem = list.find(x=>x.id == id);
                if(!this.useMultiSelect){
                    list.filter(x=>x.checked).forEach(x=>x.checked = false);
                }

                if(findItem){
                    findItem.checked = true;
                }

                this.changePageChecked();
            }else{
                this.radio.value = id;
            }
        }else{
            if( this.useMultiSelect ){
                return list.find(x=>x.checked);
            }else{
                return list.find(x=>x.id == this.radio.value);
            }
        }
    }

    selectItems(ids){
        if(!this.useMultiSelect){return;}
        let list = (this.selectType == "page") ? this.flatPageTreeData.filter(x=>x.type == "page") : this.flatPageTreeData;
        if(ids){
            list.filter(treeItem => ids.includes(treeItem.id))
                .forEach(treeItem => treeItem.checked = true);

            this.changePageChecked();
        }else{
            return list.filter(x=>x.checked);
        }
    }

    deselectItem(id){
        if(!this.useMultiSelect){
            if(id == this.radio.value){
                this.radio.value = '';
            }
        }else{
            let findItem = this.flatPageTreeData.find(x=>x.id == id);
            if(findItem){
                findItem.checked = false;
            }
            this.changePageChecked();
        }
    }

    deselectItems(ids){
       ids.forEach((id)=>{
           this.deselectItem(id);
       })
    }
}

</script>
<style scoped>
      [data-name=selectable-pagetree] {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
            overflow: auto;
      }

      [data-name=selectable-pagetree] .content-area {display: flex;flex: 1;height: 100%;}

      [data-name=selectable-pagetree] .page-list-wrap {
            display: flex;
            flex-direction: column;
            width: 310px;
      }

      [data-name=selectable-pagetree] .page-list {
            padding: 0;
      }

      [data-name=selectable-pagetree] >>> .page-list > li > label {
            height: 34px;
            line-height: 34px;
            padding: 8px 8px 6px 10px;
      }


      [data-name=selectable-pagetree] .page-list >>>  .group-item:not(.readonly){
            border-radius: 4px;
            border: 1px solid #e6e2e2;
            padding: 6px 12px;
            background-color: #f5f5f5;
      }

      [data-name=selectable-pagetree] .page-list >>>  .group-item.readonly {
          padding: 6px 12px;
      }

      [data-name=selectable-pagetree] .page-list >>>  .group-item.is-checked {
            border-color: #363a45;
      }



      [data-name=selectable-pagetree] .page-list >>> .el-checkbox {
            display: flex;
      }

      [data-name=selectable-pagetree] .page-list-wrap .el-checkbox__label {
            font-size: 13px;
            padding-left: 6px;
      }

      /*전체 체크박스*/
      [data-name=selectable-pagetree] .page-list >>> .el-checkbox__label {
            flex: 1;
            display: flex;
      }

      [data-name=selectable-pagetree] .page-list >>> .el-checkbox__label > span {
            flex: 1;
            font-size: 12px;
      }

      [data-name=selectable-pagetree] .page-list >>> .el-checkbox__label sup {
            top: 0;
      }

      [data-name=selectable-pagetree] .page-list >>> .el-badge__content {
            background-color: #4690e6;
      }

      [data-name=selectable-pagetree] .page-list >>> .el-radio__inner,
      [data-name=selectable-pagetree] .page-list >>> .el-checkbox__inner {
            display: none;
      }

      [data-name=selectable-pagetree] .search-children-len {
            font-size: 11px;
            margin-left: 5px;
            color: #4690e6;
            font-weight: bold;
      }



      [data-name=selectable-pagetree] .page-search-list .el-checkbox {
            height: auto !important;
      }

      [data-name=selectable-pagetree] .page-search-list .parents-txt {
            font-size: 11px;
            color: #888;
      }

      [data-name=selectable-pagetree] >>> .selectable-page-tree-item>.label{margin-bottom: 6px;}
      [data-name=selectable-pagetree] >>> .selectable-page-tree-item:first-child {
            padding-left: 0;
      }

      [data-name=selectable-pagetree] >>> .selectable-page-tree-item:not(.flat) {
            padding-left: 20px;
      }


      [data-name=selectable-pagetree] >>> .selectable-page-tree-item .label .txt {
            margin-left: 6px;
      }

      [data-name=selectable-pagetree] >>> .selectable-page-tree-item i {
            margin-top: 2px;
      }

      [data-name=selectable-pagetree] >>> .selectable-page-tree-item .el-radio.is-bordered,
      [data-name=selectable-pagetree] >>> .selectable-page-tree-item .el-checkbox.is-bordered {
          height: 48px;
          padding: 6px 10px 6px 10px;
      }

      [data-name=selectable-pagetree] >>> .selectable-page-tree-item .el-radio__label,
      [data-name=selectable-pagetree] >>> .selectable-page-tree-item .el-checkbox__label {
            width: 100%;
            padding-left:0px;
      }

      [data-name=selectable-pagetree] >>> .selectable-page-tree-item .el-checkbox__label .page-text-box{
            display:block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
      }

      [data-name=selectable-pagetree] >>> .selectable-page-tree-item .el-checkbox__label .page-text-box .page-description{
            font-size: 10px;
            color: #b6b6b6;
            margin: 0px;
      }
</style>
