<template>
      <div class="dataset-preview-detail">
            <div class="default-cont" v-if="currentDataset==null">{{$t('dataset.selectDataset')}}</div>
            <div v-else class="data-cont flex flex-column">
                  <h4>{{currentDataset.name}}</h4>
                  <hr>
                  <div class="txt-wrap">
                        <dl>
                              <dt>{{$t('dataset.method')}} :</dt><dd>
                              <template v-if="currentDataset.delivery_type==DATASET_CONST.DELIVERY_TYPE.POLLING">{{$t('dataset.pollingMethod')}}</template>
                              <template v-else>{{$t('dataset.pushMethod')}}</template>
                        </dd>
                        </dl>
                        <dl>
                              <dt>{{$t('dataset.interval')}} :</dt><dd>
                              <template v-if="currentDataset.interval==0 || currentDataset.interval=='0'">{{$t('dataset.runOnce')}}</template>
                              <template v-else>{{currentDataset.interval}} sec</template>
                        </dd>
                        </dl>
                        <dl>
                              <dt>{{$t('dataset.type')}} :</dt><dd>
                              <template v-if="currentDataset.data_type==DATASET_CONST.DATA_TYPE.SQL">{{$t('dataset.dbQuery')}}</template>
                              <template v-else>REST API</template>
                        </dd>
                        </dl>
                  </div>

                  <div>
                        <el-input type="textarea" :readonly="true" v-if="currentDataset.data_type==DATASET_CONST.DATA_TYPE.SQL" v-model="currentDataset.query"></el-input>
                        <el-input type="textarea" :readonly="true" v-else v-model="currentDataset.rest_api"></el-input>
                  </div>
                  <div class="data-param-fieldlist" v-if="currentDataset.delivery_type==DATASET_CONST.DELIVERY_TYPE.POLLING && currentDataset.param_info && currentDataset.param_info.length">
                        <h5>Parameter</h5>
                        <el-table :data="currentDataset.param_info" style="width: 100%">
                              <el-table-column prop="date" :label="$t('dataset.fieldName')" >
                                    <template slot-scope="scope">
                                          {{ scope.row.param_name }}
                                    </template>
                              </el-table-column>
                              <el-table-column :label="$t('common.defaultValue')">
                                    <template slot-scope="scope">
                                          <el-input class="default-input" size="small" :readonly="true" placeholder="Default Value" v-model="scope.row.default_value"></el-input>
                                    </template>
                              </el-table-column>
                        </el-table>
                  </div>
                  <el-button type="primary" size="small" @click="loadPreviewData()" class="preview-btn">{{$t('common.preview')}}</el-button>
                  <dataset-preview-component ref="previewComp" class=""></dataset-preview-component>
            </div>
      </div>
</template>
<script lang="ts">
      import Vue from "vue"
      import Component from "vue-class-component"
      import {Dataset} from '../../../../editor/windows/datasetManager/const/Dataset';
      import { dto } from '../../../../editor/windows/datasetManager/model/dto/DatasetDTO';
      import DatasetItemDTO = dto.DatasetItemDTO;
      import datasetApi from '../../../../common/api/datasetApi';
      import DatasetPreviewComponent from "../../../../editor/windows/datasetManager/view/contents/preview/DatasetPreviewComponent.vue";
      import DatasetPreviewService from './DatasetPreviewService';

      @Component({
            components: {
                  DatasetPreviewComponent
            }
      })
      export default class DatasetPreviewDetailComponent extends Vue{
            public DATASET_CONST: any = Dataset;
            public currentDataset: DatasetItemDTO = null;


            setDataset( dataset ){
                  this.currentDataset = $.extend(true, {}, dataset);
                  if( this.$refs.previewComp ){
                        (<DatasetPreviewComponent>this.$refs.previewComp).reset();
                  }
            }

            getFilterPreviewData(data){
                  return {
                        data_type: data.data_type,
                        param_info: data.param_info,
                        query: data.query,
                        rest_api: data.rest_api,
                        dbType: data.db_type,
                        datasource: data.datasource,
                        query_type: data.query_type || ""
                  }
            }

            loadPreviewData(){
                  let self = this;
                  let previewData = this.getFilterPreviewData( this.currentDataset );
                  DatasetPreviewService.getInstance().getPreviewData(previewData).then((result) => {
                        if(result){
                              (<DatasetPreviewComponent>this.$refs.previewComp).setPreviewData( result );
                        }else{
                              (<DatasetPreviewComponent>this.$refs.previewComp).setPreviewData( null );
                        }

                        return result;
                  }, (error) => {
                        (<DatasetPreviewComponent>this.$refs.previewComp).setPreviewData( null );
                        return error;
                  })
            }

            getResultData():Array<any>{
                  if(!this.currentDataset){
                        return null;
                  }
                  return (<DatasetPreviewComponent>this.$refs.previewComp).getPreviewData();
            }
      }

</script>
<style scoped>
      h4{font-size: 20px; margin: 0 0 6px 4px; }
      h5{margin: 20px 0 0 4px; font-size: 16px;}
      dl{display: inline-block; width: 49%; margin: 0 0 6px 0; font-size: 13px;}
      dt, dd{display: inline-block;}
      dt{margin-right: 6px;}
      .txt-wrap{margin: 18px 10px 0 10px;}
      .data-param-fieldlist{margin: 10px 0 0 0;}
      .data-param-fieldlist>h5{margin:0;}
      .preview-btn{margin-top: 10px;min-height: 28px;}
      .dataset-preview-detail >>> .el-table th,
      .dataset-preview-detail >>> .el-table tr{text-align: center;}
      .default-cont{display: flex; flex:1; align-items: center; justify-content: center; background-color: #e9e9e9; height: 100%; border-radius: 4px;}
      .dataset-preview-detail >>> textarea{height: 180px;}
</style>
