<template>
	<div>
	</div>
</template>

<script  lang="ts">
      /*
      확장 패널 Main(body) 역할을 담당.
            - 뼈로만 사용하며 실제 화면은 childView로 넘어오게됨.
            - childView는 외부에 만들어진 화면 임.


       */
	import Vue from "vue"
      import { Component, Emit, Inject, Model, Prop, Provide, Vue, Watch } from 'vue-property-decorator'
	import CustomMediator from "./CustomMediator";



	@Component({
		components: {
		}
	})
	export default class CustomPanel extends Vue {

            @Prop()
            childView:any;



            mounted(){
                  if(this.childView) {
                        this.childView.setParentView(this.$el);
                        this.childView.create();
                  }
            }
	}


</script >

<style scoped>

</style>
